
<h1>Defend The Order</h1>
<% if current_user %>
  <p class="lead">Welcome <%= current_user.email.split('@').first.upcase %>.</p>
<% end %>

<div id="game1"></div>
<div id="towers" >

<div id="towers" >
	<h3 id="errorMesssage" style="color:red" ></h3>
	<img id="tower1" src="/tower1icon.png" width="50" height="50" />
	<img id="tower2" src="/tower2icon.png" width="50" height="50" />
	<img id="tower3" src="/tower3icon.png" width="50" height="50" />

<br />


<span style="font-size:30px; padding-left:5px; background:green;">Gold - </span>

<span id="gold" style="font-size:30px; padding-left:5px; background:green;"></span>

<br />


<span style="font-size:30px; padding-left:5px; background:red;">Lifes - </span>

<span id="lifes" style="font-size:30px; padding-left:5px; background:red;">0</span>

</div>
<br>



<br style="clear:both" />


<script  >
	
	window.onload = function(){
		var game = new Game();
		game.init(<%= @levelInfo %>, 'game1');

		$('#tower1').click(function(){
			game.clickedTower(1);
		});
		$('#tower2').click(function(){
			game.clickedTower(2);
		});
		$('#tower3').click(function(){
			game.clickedTower(3);
		});
	
	};
	
	
	

</script> 