
<h1>Defend The Order</h1>
<% if current_user %>
  <p class="lead">Welcome <%= current_user.email.split('@').first.upcase %>.</p>
<% end %>
<style>
#game1 {
	align: center;
    color: black;
    border-style: solid;
    border-width: 5px;
}
</style>
<div id="game1"></div>

<div id="towers" >

	<img id="tower1" src="/tower1icon.png" width="50" height="50" />

</div>
<script  >
	
	window.onload = function(){
		var game = new Game();
		game.init(<%= @levelInfo %>, 'game1');

		$('#tower1').click(function(){
			game.clickedTower(1);
		});
	
	};
	
	
	

</script> 